In [125]:
import pandas as pd

In [126]:
df_calculations = pd.read_csv('calculator_statistics.csv')
df_calculations

    id action_type        results  execution_time
0    1           *   6.000000e+00               0
1    2           *   2.804047e+13               0
2    3           *   4.819581e+17               0
3    4           *   6.000000e+00               0
4    5           *   4.691400e+04               0
5    6           +   2.281000e+03               0
6    7           !   1.200000e+02               0
7    8           !   4.032000e+04               0
8    9           !  9.875044e+202               0
9   10           !  9.875044e+202               0
10  11           !   1.551121e+25               0
11  12           !   1.551121e+25               0
12  13           !   1.551121e+25               0
13  14           ^   2.500000e+01               0
14  15           /   5.000000e+00               0
15  16           !   4.032000e+04               0
16  17           !   1.200000e+02               0
17  18           !   1.200000e+02               0
18  19           ^   1.250000e+02               0
19  25           +   9.000000e+01               0
20  26           !  9.332622e+155               0
21  27           -   1.203000e+03               0
22  28           %   5.000000e+00               0
23  29           +   2.257100e+05               0
24  30           /   1.294500e+03               0

In [127]:
# Total number of times the calculator performed addition operation
condition = df_calculations['action_type'] == '+'
df_calculations[condition].value_counts('action_type')

action_type
+    3
Name: count, dtype: int64

In [128]:
# Total number of times the calculator performed subtraction operation
condition = df_calculations['action_type'] == '-'
df_calculations[condition].value_counts('action_type')

action_type
-    1
Name: count, dtype: int64

In [129]:
# Total number of times the calculator performed n-factorial operation
condition = df_calculations['action_type'] == '!'
df_calculations[condition].value_counts('action_type')

action_type
!    11
Name: count, dtype: int64

In [130]:
# Count of all operations
df_calculations['action_type'].value_counts()

action_type
!    11
*     5
+     3
^     2
/     2
-     1
%     1
Name: count, dtype: int64

In [131]:
# Average number of times calculator performed all operations
df_calculations['action_type'].value_counts().mean()

3.5714285714285716

In [132]:
# Calculating average number of times calculator performed elementary operations
condition_1 = df_calculations['action_type'] == '+'
condition_2 = df_calculations['action_type'] == '-'
condition_3 = df_calculations['action_type'] == '*'
condition_4 = df_calculations['action_type'] == '/'

In [133]:
count_of_all_4_conditions = df_calculations[condition_1 | condition_2 | condition_3 | condition_4].value_counts('action_type')

count_of_all_4_conditions

action_type
*    5
+    3
/    2
-    1
Name: count, dtype: int64

In [134]:
# Average number of times calculator performed elementary operations
count_of_all_4_conditions.mean()

2.75